$container-width: 1024px;
$mobile-width: 650px;
$header-height: 45px;
$facts-mobile-width: 600px;
$accent-color: #eb593c;
$text-color: #555;
$title-text-color: #333;
$title-text-color-inverse: #fff;
$link-color: #39c;
$link-hover-color: #069;