@import "_vars";
@import "_mixins";
@import "compass/css3/background-size";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";

@-o-keyframes rotate-fade {
	from { -o-transform: rotate(-45deg); opacity: 1; }
	to { -o-transform: rotate(30deg); opacity: 0; }
}
@-ms-keyframes rotate-fade {
	from { -ms-transform: rotate(-45deg); opacity: 1; }
	to { -ms-transform: rotate(30deg); opacity: 0; }
}
@-moz-keyframes rotate-fade {
	from { -moz-transform: rotate(-45deg); opacity: 1; }
	to { -moz-transform: rotate(30deg); opacity: 0; }
}
@-webkit-keyframes rotate-fade {
	from { -webkit-transform: rotate(-45deg); opacity: 1; }
	to { -webkit-transform: rotate(30deg); opacity: 0; }
}
@keyframes rotate-fade {
	from {transform:rotate(-45deg); opacity: 1; }
	to {transform:rotate(30deg); opacity: 0;}
}

.about-page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	

	.attribution-link {
		display: inline;
		top: auto;
		bottom: 8px;
		left: 8px;
		opacity: .5;
	}

	.sub-page {
		width: 100%;
		height: 100%;
		margin-bottom: 2px;
		position: relative;
		overflow-x: hidden;
		overflow-y: hidden;

		.shooting-star {
			opacity: 1;
			position: absolute;
			background-image: url("/images/star.png?embed");
			background-repeat: no-repeat;
			top: 15%;
			left: 30%;
			width: 144px;
			height: 11px;
			padding-bottom: 3000px;
			@include transform(rotate(-45deg));
		}

		.shooting-star.animate {
			@include experimental("animation-name", rotate-fade, webkit, moz, o, ms, not khtml);
			@include experimental("animation-fill-mode", forwards, webkit, moz, o, ms, not khtml);
			@include experimental("animation-duration", 1.5s, webkit, moz, o, ms, not khtml);
			@include experimental("animation-iteration-count", 1, webkit, moz, o, ms, not khtml);
			@include experimental("animation-timing-function", linear, webkit, moz, o, ms, not khtml);
		}

		.text-container {
			position: relative;
			top: 43%;
			left: 50%;
			width: 520px;
			margin-left: -260px;
		}

		h2 {
			font-size: 56px;
			padding-bottom: 7px;
		}

		h3 {
			font-size: 16px;
			line-height: 22px;
		}

		h2, h3 {
			text-align: center;
			color: $title-text-color-inverse;
			vertical-align: middle;
			@include text-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
			a {
				color: $title-text-color-inverse;
				text-decoration: underline;
			}

		}

		@media all and (max-width: $mobile-width) {
			.text-container {
				width: 440px;
				margin-left: -220px;
			}

			h2 {
				font-size: 40px;
			}

			h3 {
				line-height: 20px;
				font-size: 12px;
			}
		}
	}

	.description {
		background: url("http://assets.hike.io/about-page-images/kilimanjaro-from-meru.jpg") no-repeat center bottom;
		@include background-size(cover);
	}

	.free {
		background: url("http://assets.hike.io/about-page-images/the-narrows-wall.jpg") no-repeat center bottom;
		@include background-size(cover);
	}

	.hikes {
		background: url("http://assets.hike.io/about-page-images/mawenzi-tarn-at-night.jpg") no-repeat center bottom;
		@include background-size(cover);
	}

	.open {
		background: url("http://assets.hike.io/about-page-images/rachel-lake.jpg") no-repeat center bottom;
		@include background-size(cover);
	}

	.edit {
		background: url("http://assets.hike.io/about-page-images/hawaii-oahu-north-shore.jpg") no-repeat center bottom;
		@include background-size(cover);
	}

	.hikes, .open, .edit {
		.text-container {
			top: 38%;
		}
	}

	@media all and (max-width: $mobile-width) {
		.description {
			background: url("http://assets.hike.io/about-page-images/kilimanjaro-from-meru-mobile.jpg") no-repeat center bottom;
			@include background-size(cover);
		}

		.free {
			background: url("http://assets.hike.io/about-page-images/the-narrows-wall-mobile.jpg") no-repeat center bottom;
			@include background-size(cover);
		}

		.hikes {
			background: url("http://assets.hike.io/about-page-images/mawenzi-tarn-at-night-mobile.jpg") no-repeat center bottom;
			@include background-size(cover);
		}

		.open {
			background: url("http://assets.hike.io/about-page-images/rachel-lake-mobile.jpg") no-repeat center bottom;
			@include background-size(cover);
		}

		.edit {
			background: url("http://assets.hike.io/about-page-images/hawaii-oahu-north-shore-mobile.jpg") no-repeat center bottom;
			@include background-size(cover);
		}
	}
}

