@import "_vars";
@import "_mixins";
@import "compass/css3/border-radius";

.add-page {
	display: none;
	margin: 25px 10px;
	width: 400px;

	h2 {
		padding-bottom: 15px;
		padding-left: 10px;
		font-size: 40px;
	}

	form {
		width: 400px;

		label {
			float: left;
			clear: left;
			width: 100px;
			text-align: right;
			font-size: 18px;
			line-height: 45px;
			margin-right: 8px;
		}

		input[type=text], input[type=number] {
			display: inline-block;
			float: left;
			border: 1px solid rgba(1, 1, 1, 0.3);
			@include border-radius(2px, 2px);
			font-size: 18px;
			font-weight: 200;
			padding: 7px;
			width: 265px;
		}

		.units {
			line-height: 45px;
			float: left;
			margin-left: 5px;
		}

		#distance, #elevation {
			width: 71px;
		}

		#latitude, #longitude {
			width: 130px;
			margin-right: 5px;
			display: inline;
		}

		input[type=submit] {
			float: right;
			clear: left;
			display: block;
			margin: 10px;
			margin-bottom: 15px;
		}
	}
}