@import "_vars";
@import "_mixins";
@import "compass/css3/border-radius";
.add-page {
	#distance, #elevationMax, #elevationGain {
		width: 71px;
	}

	#latitude, #longitude {
		width: 130px;
		margin-right: 5px;
		display: inline;
	}

	.units {
		line-height: 45px;
		float: left;
		margin-left: 5px;
	}
}