@import "_vars";
@import "_mixins";

.all-page {
	ul {
		overflow: hidden;
	}
	li {
		display: block;
		border-bottom: 1px solid #DDD;
		position: relative;

		a:hover {
			text-decoration: none;
		}
	}
	img,.img-placeholder {
		position: absolute;
		top: 50%;
		left: 15px;
		margin-top: -35px;
		height: 70px;
		width: 70px;
		float: left;
		margin-right: 10px;
		background-color: #EEE;
	}
	.entry {
		width: 100%;
		height: 100%;
	}
	.text {
		padding: 20px;
		margin-left: 75px;
	}
	li:hover {
		background-color: #F8F8F8;
	}
	h3 {
		font-size: 16px;
		line-height: 20px;
	}
}