@import "_vars";
@import "_mixins";
@import "compass/css3/user-interface";

$edit-banner-height: 50px;

.edit-banner {
	width: 100%;
	height: $edit-banner-height;
	background-color: #eb593c;
	text-align: center;
	position: relative;

	h3 {
		color: white;
		line-height: $edit-banner-height;
		margin-left: 10px;
		display: inline;
		font-size: 18px;
		font-weight: bold;
	}

	div {
		position: absolute;
		right: 0px;
		padding: 8px 8px;
		margin-top: -$edit-banner-height;
	}
}

@media all and (max-width: $mobile-width) {
	.edit-banner {
		text-align: left;
		
	}
}

@media all and (max-width: 900px) {
	.edit-banner-review {
		text-align: left;
	}
}

@media all and (max-width: 700px) {
	.edit-banner-review {
		text-align: left;
		h3 {
			font-size: 15px;
		}
	}
}

@media all and (max-width: $mobile-width) {
	.edit-banner-review {
		.live-soon-msg {
			display: none;
		}
	}
}


.entry-edit-page {
	.header-landscape {
		h1 {
			text-overflow: clip !important;
		}
	}

	.trash-icon {
		position: absolute;
		right: 5px;
		top: 0px;
		cursor: pointer;
		font-size: 30px;
		line-height: 30px;
		color: white;
		text-shadow: 1px 1px 3px #111;
		@include user-select(none);
	}
}