@import "_vars";
@import "_mixins";
@import "compass/css3/box-sizing";

$map-dimensions: 800px;
$section-padding: 10px;
$section-padding-mobile: 10px;
$header-landscape-footer-height: 55px;
$header-landscape-footer-height-mobile: 40px;

.entry-page {

	.placeholder-img {
		@include box-sizing(border-box);
		border: 4px dashed #999;
	}

	.header-landscape {
		img {
			width: 100%;
		}

		h1 {
			font-weight: bold;
			color: #fff;
			margin: 0px;
			padding-top: 3px;
			font-size: $header-landscape-footer-height - 10;
			line-height: $header-landscape-footer-height;	
		}

		.header-hike-name {
			padding-left: 10px;
			position: relative;
			margin-top: 10px;
			margin-bottom: -10px;
			height: $header-landscape-footer-height;
			color: #000;
		}

		.header-hike-name-with-image {
			color: #fff;
			padding-left: 10px;
			position: relative;
			background-color:rgba(0, 0, 0, 0.5);
			margin-top: - $header-landscape-footer-height;
			height: $header-landscape-footer-height;
		}

		@media all and (max-width: $mobile-width) {
			.header-hike-name-with-image {
				margin-top: -$header-landscape-footer-height-mobile;
				height: $header-landscape-footer-height-mobile;		
			}

			h1 {
				font-size: $header-landscape-footer-height-mobile - 5;
				line-height: $header-landscape-footer-height-mobile;
			}
		}
	}

	a.disabled {
		color: #333;
		cursor: text;
		text-decoration: none;
	}

	.content {
		padding: 10px $section-padding;
		color: #333;

		h2 {
			padding-bottom: 10px;
		}

		section {
			margin: $section-padding 0px;
		}
	}

	@media all and (max-width: $mobile-width) {
		.content {
			padding: 0px $section-padding-mobile;
		}
	}

	.overview-section {
		overflow: auto;
		margin-top: 12px !important;

		> div {
			float: left;
			width: 100%;

			.overview-description {
				width: 100%;
				font-weight: 200;
				font-size: 16px;
				line-height: 24px;
				color: #222;
				min-height: 100px;

				p, div {
					margin-bottom: 15px;
				}

				p:last-child {
					margin-bottom: 0px;
				}
			}

		}

		@media all and (max-width: $mobile-width) {
			.overview-description {
				margin-right: 0px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	@media all and (max-width: $mobile-width) {
		.overview-section {
			margin-top: 10px !important;
		}
	}

	.photos-section {
		
		.add-photo-button {
			margin-bottom: 20px;
		}

		.photo-thumb-list {
			overflow-x: hidden;
			overflow-y: hidden;

			div {
				@include box-sizing(border-box);
				padding: 2px;
				float: left;
				width: 33.333%;

				img {
					width: 100%;
				}
			}
		}
	}

	.map-section {
		.map {
			@include center-percentage(100%);
		}

		@media all and (min-width: $map-dimensions + 2 * $section-padding) {
			.map {
				@include center-relative($map-dimensions);
			}
		}
	}
}