@import "_vars";
@import "_mixins";

$header-landscape-footer-height: 55px;
$header-landscape-footer-height-mobile: 40px;
$header-landscape-aspect-ratio: 3;

.entry-page {
	overflow-x: hidden;
	width: $container-width;
	@include center();

	.header-landscape.header-landscape-with-image {
		height: auto;
		padding-bottom: 0px;
	}

	.header-landscape {
		position: relative;
		height: 0;
		padding-bottom: (100% / $header-landscape-aspect-ratio);

		/*
			This is a tricky section of CSS. First we have a hack which maintains a div's aspect ratio: 
			http://stackoverflow.com/questions/1495407/css-a-way-to-maintain-aspect-ratio-when-resizing-a-div

			Next, for some images, we have to rotate them because of EXIF data. This transformation messes up
			the aforementioned aspect ratio and we have to add some additional CSS to account for this.

			Lastly, because the rotation messes up the layout, we have the div positioned absolutely and instead
			use another placeholder div to take up the missing space.
		 */

		img, .img-div {
			width: 100%;
			max-height: 341px;
		}

		.img-div {
			height: 0;
			padding-bottom: (100% / $header-landscape-aspect-ratio);
			background-position: center center;
			background-size:cover;
		}
		.img-div.flipped {
			position: absolute;
			width: (100% / $header-landscape-aspect-ratio);
			padding-bottom: 100%;
			margin-left: (100% / $header-landscape-aspect-ratio);
			margin-top: (-100% / $header-landscape-aspect-ratio);
			margin-bottom: (-100% / $header-landscape-aspect-ratio);
		}

		.flipped-placeholder {
			height: 0;
			width: 100%;
			padding-bottom: (100% / $header-landscape-aspect-ratio);
		}

		.attribution-link {
			top: 8px;
			right: 8px;
			left: auto;
		}

		h1 {
			font-size: $header-landscape-footer-height - 10;
			line-height: $header-landscape-footer-height;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.header-hike-name {
			h1 {
				padding-left: 10px;
				position: relative;
				margin-top: 10px;
				margin-bottom: -10px;
				color: $title-text-color;
			}			
		}

		.header-hike-name-with-image {
			h1 {
				color: $title-text-color-inverse;
				padding-left: 10px;
				position: absolute;
				bottom: 10px;
				width: 100%;
				background-color:rgba(0, 0, 0, 0.5);
				@include ie-opaque-black-background();
			}	
		}

		@media all and (max-width: $mobile-width) {
			.header-hike-name-with-image {
				margin-top: -$header-landscape-footer-height-mobile;
				height: $header-landscape-footer-height-mobile;		
			}

			h1 {
				font-size: $header-landscape-footer-height-mobile - 5;
				line-height: $header-landscape-footer-height-mobile + 1;
			}
		}
	}

	.content {
		padding: 10px;
		padding-top: 1px;
		h2 {
			padding-bottom: 10px;
		}

		h3 {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		section {
			margin: 10px 0px 10px 0px;
		}
	}

	.overview-section {
		margin-top: 12px !important;

		> div {
			float: left;
			width: 100%;

			.overview-description {
				width: 100%;
				min-height: 100px;
				line-height: 28px;

				p, div {
					line-height: 28px;
					margin-bottom: 15px;
				}
			}

		}

		@media all and (max-width: $mobile-width) {
			.overview-description {
				margin-top: 13px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	@media all and (max-width: $mobile-width) {
		.overview-section {
			margin-top: 10px !important;
		}
	}

	.photo-thumb-list {
		overflow-x: hidden;
		overflow-y: hidden;

		.photo-thumb {
			padding: 2px;
			float: left;
			width: 25%;

			img, .img-div {
				width: 100%;
			}
			.img-div {
				/* Tricky way to get div's width=height http://stackoverflow.com/questions/14088200/how-can-i-make-a-divs-height-and-width-the-same-using-responsive-design */
				height: 0;
				padding-bottom: 100%;
				background-position: center center;
				background-size:cover;
			}
		}

		@media all and (max-width: 600px) {
			.photo-thumb {
				width: 33.333%;
			}
		}
	}

	.photos-section {
		width: 100%;

		.add-photo-button {
			margin-bottom: 20px;
		}

		
	}
	.map-section {
		float: left;
		width: 100%;
		.map-container {
			width: 100%;
			height: 0;
			padding-bottom: 75%;
		}

		.download-gpx {
			float: right;
		}
	}

	@media all and (max-width: $mobile-width) {
		.map-section {
			.map-container {
				padding-bottom: 100%;
			}
		}
	}
}

@media all and (max-width: $container-width) {
	.entry-page { width: 100%; }
}
