@import "_vars";
@import "_mixins";

$map-dimensions: 800px;
$section-padding: 10px;
$section-padding-mobile: 10px;
$header-landscape-footer-height: 55px;
$header-landscape-footer-height-mobile: 40px;

.entry-page {

	.placeholder-img {
		border: 4px dashed #999;
	}

	.header-landscape {
		position: relative;

		img {
			width: 100%;
		}

		h1 {
			font-weight: bold;
			color: #fff;
			margin: 0px;
			font-size: $header-landscape-footer-height - 10;
			line-height: $header-landscape-footer-height;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.header-hike-name {
			padding-left: 10px;
			position: relative;
			margin-top: 10px;
			margin-bottom: -10px;
			height: $header-landscape-footer-height;
			color: #000;
		}

		.header-hike-name-with-image {
			color: #fff;
			padding-left: 10px;
			position: relative;
			background-color:rgba(0, 0, 0, 0.5);
			margin-top: - $header-landscape-footer-height;
			height: $header-landscape-footer-height;
		}

		@media all and (max-width: $mobile-width) {
			.header-hike-name-with-image {
				margin-top: -$header-landscape-footer-height-mobile;
				height: $header-landscape-footer-height-mobile;		
			}

			h1 {
				font-size: $header-landscape-footer-height-mobile - 5;
				line-height: $header-landscape-footer-height-mobile;
			}
		}
	}

	a.disabled {
		color: #555;
		cursor: text;
		text-decoration: none;
	}

	.content {
		padding: 10px $section-padding;
		h2 {
			padding-bottom: 10px;
		}

		h3 {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		section {
			margin: 10px 0px 30px 0px;
		}
	}

	@media all and (max-width: $mobile-width) {
		.content {
			padding: 10px $section-padding-mobile;
		}
	}

	.overview-section {
		overflow: auto;
		margin-top: 12px !important;

		> div {
			float: left;
			width: 100%;

			.overview-description {
				width: 100%;
				min-height: 100px;

				p, div {
					margin-bottom: 15px;
				}
			}

		}

		@media all and (max-width: $mobile-width) {
			.overview-description {
				margin-right: 0px;
				font-size: 16px;
				line-height: 20px;
			}
		}

		@media all and (max-width: $facts-mobile-width) {
			.overview-description {
				margin-top: 170px;
			}
		}
	}

	@media all and (max-width: $mobile-width) {
		.overview-section {
			margin-top: 10px !important;
		}
	}

	.photos-section {
		
		.add-photo-button {
			margin-bottom: 20px;
		}

		.photo-thumb-list {
			overflow-x: hidden;
			overflow-y: hidden;

			.photo-thumb {
				padding: 2px;
				float: left;
				width: 25%;

				img, .img-div {
					width: 100%;
				}
				.img-div {
					/* Tricky way to get div's width=height http://stackoverflow.com/questions/14088200/how-can-i-make-a-divs-height-and-width-the-same-using-responsive-design */
					height: 0;
					padding-bottom: 100%;
					background-position: center center;
					background-size:cover;
				}
			}

			@media all and (max-width: 600px) {
				.photo-thumb {
					width: 33.333%;
				}
			}
		}
	}

	.map-section {
		.map {
			@include center-percentage(100%);
		}

		@media all and (min-width: $map-dimensions + 2 * $section-padding) {
			.map {
				@include center-relative($map-dimensions);
			}
		}
	}
}