@import "_vars";
@import "_mixins";

$facts-padding: 25px;

$facts-external-link-svg-size: 12px;

.overview-facts {
	float: right;
	width: $facts-width;
	margin: 0px 0px 4px 15px;

	.page-curl img {
		width: $facts-width - $facts-padding * 2;
		margin-bottom: 10px;
	}

	> div {
		padding: $facts-padding;
	}

	table {
		margin-left: 10px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		color: #555;

		tr td:first-child {
			color: #333;
			font-weight: bold;
		}

		tr td:nth-child(2) {
			font-weight: 300;
			padding-left: 15px;
		}

		tr:not(:first-child) td {
			padding-top: 5px;
		}

		svg, img {
			width: $facts-external-link-svg-size;
			height: $facts-external-link-svg-size;
			margin-left: 4px;
			display: inline;
		}

		svg {
			fill: #39c;
		}

		svg:hover {
			fill: #069;
		}
	}
}

@media all and (max-width: $facts-mobile-width) {
	.overview-facts {
		width: 100%;
		margin-bottom: 10px;
		
		.page-curl {
			img {
				width: 110px;
				float: left;
				margin-right: 15px;
			}
		}

		> div {
			padding: 10px 10px 20px 10px;
			width: 90%;
			position: relative;
		}

		table {
			font-size: 15px;
			line-height: 18px;
			margin-top: 0px;

			tr:first-child {
				display:none;
			}

			tr td:nth-child(2) {
				padding-left: 10px;
				padding-top: 7px;
			}
		}
	}
}
