@import "_vars";
@import "_mixins";
@import "compass/css3/background-size";

.container.index-container {
	min-height: 600px;
	height: 100%;
}

.index-page {
	width: 100%;
	height: auto;
	position: absolute;
	top: $header-height;
	bottom: 0px;
	background: url("http://assets.hike.io/landing-page-images/the-narrows.jpg") no-repeat center bottom fixed;
	@include background-size(cover);
	min-height: 555px;

	.footer-banner {
		position: absolute;
		top: 100%;
		width: 100%;
		height: 125px;
		margin-top: -125px;
		background-color:rgba(0, 0, 0, 0.6);
		@include ie-opaque-black-background();

		h1 {
			padding: 20px 0px 0px 20px;
			font-size: 60px;
			color: white;
			font-weight: bold;
		}

		h2 {
			padding: 0px 0px 15px 22px;
			font-weight: 100;
			font-size: 30px;
			color: white;
		}
	}

	@media all and (max-width: $mobile-width) { 
		.footer-banner {
			height: 100px;
			margin-top: -100px;

			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 20px;
			}
		}
	}

	.content {
		margin-top: 270px;
		text-align: center;
		.search-bar {
			display: inline-block;
		}
	}
}

@media all and (max-width: $mobile-width) {
	.index-page {
		.content {
			margin-top: 170px;
		}
		background: url("http://assets.hike.io/landing-page-images/the-narrows-mobile.jpg") no-repeat center bottom fixed;
		@include background-size(cover);
	}
}
