@import "_vars";
@import "_mixins";
@import "compass/css3/box-shadow";

html { height: 100%; }

body { 
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background-image: url(/images/background.png);
	font-family: "facitweb", sans-serif;
	min-width: $min-width;
	height: 100%;
}

input, button {
	font-family: "facitweb", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: #39c;
	text-decoration: none;
}

a img { border: none; }

img { display: block; }

img::selection { background: rgba(0, 0, 0, 0.0); }

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}

h4 {
	font-size: 12px;
	line-height: 16px;
}

li {
    list-style-type: disc;
 }
 
*:focus { outline: none; }

[data-ng-view] {
	width: 100%;
	overflow: auto;
}

.noscript-message {
	font-size: 40px;
	padding: 20px 20px;
	color: #333;
	opacity: 1;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

html.touch a:hover {
	text-decoration: none;
}

.default-container {
	overflow-x: hidden;
	width: $container-width;
	@include center();
}

.shadow-light {
	@include box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
}

@media all and (max-width: $container-width) {
	.default-container { width: 100%; }
}

