@import "_vars";
@import "_mixins";
@import "compass/css3/border-radius";

.map-page {
	width: 100%;
	position: absolute;
	top: $header-height;
	bottom: 0px;
	z-index: 2;

	.banner {
		position: absolute;
		display: none;
	}

	.tooltip {
		display: none;
		opacity: 0;
		padding: 5px 10px;
		max-width: 300px;
		position: absolute;
		background-color: #fefefe;
		z-index: 100;
		@include border-radius(2px, 2px);
		h3 {
			font-weight: normal;
			white-space: nowrap;
		}
	}

	.map-container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
}

.map-page.showBanner {
	.banner {
		display: block;
	}
	.map-container {
		top: $banner-height;
	}
}