@import "_vars";
@import "_mixins";

.search-page {

	.did-you-mean {
		padding: 15px;
		border-bottom: 1px solid #DDD;
	}

	.add-link {
		cursor: pointer;
	}

	.no-results {
		padding: 15px;
	}

	.unable-to-find {
		font-size: 36px;
		margin-bottom: 10px;
	}
}