@import "_vars";
@import "_mixins";

.search-page {
	padding: 20px;

	.add-link {
		cursor: pointer;
	}

	.unable-to-find {
		font-size: 36px;
		margin-bottom: 10px;
	}

	ul {
		padding: 20px;

		li {
			padding: 3px;
		}
	}
}