@mixin center() {
	margin-right: auto;
	margin-left: auto;
}

@mixin center-relative($width) {
	position: relative;
	margin-left: - $width / 2;
	width: $width;
}

@mixin center-percentage($percentage) {
	left: $percentage / 2;
	margin-left: 0px;
	width: $percentage;
}