@mixin center() {
	margin-right: auto;
	margin-left: auto;
}

@mixin center-relative($width) {
	position: relative;
	left: 50%;
	margin-left: - $width / 2;
}

@mixin center-percentage($pencentage) {
	left: $pencentage / 2;
	margin-left: 0px;
	width: $pencentage;
}