@import "_vars";
@import "_mixins";

$preview-titletext-font-size: 16px;
$preview-subtext-font-size: 13px;

.discover-page {
	.preview-list {
		width:100%;
		height:100%;
		overflow-x: hidden;
		overflow-y: hidden;
		display: none;
	}

	.preview {
		margin-bottom: 2px;

		img {
			width: 100%;
		}
	}

	.preview-footer {
		height: 31px;
		padding: 10px;
		margin-top: -51px;
		position: relative;
		background-color:rgba(0, 0, 0, 0.6);
		white-space: nowrap;
		overflow: hidden;

		> div:first-child {
			float: left;
		}

		> div:nth-child(2) {
			float: right;
		}
	}

	.preview-title {
		font-size: $preview-titletext-font-size;
		line-height: $preview-titletext-font-size;
		font-weight: bold;
		padding-bottom: 4px;
		color: #fff;	
	}

	.preview-location {
		font-size: $preview-subtext-font-size;
		line-height: $preview-subtext-font-size;
		color: #ccc;
	}

	.preview-distance {
		font-size: $preview-subtext-font-size;
		line-height: $preview-subtext-font-size;
		color: #ccc;
	}

	.map-fullscreen {
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: $header-height;
		z-index: $header-z-index - 1;
		display: none;
	}

	.pagination-links {
		padding: 20px;
		text-align: center;
		font-size: 16px;
		display: none;
	}
}

.no-touch .discover-page .preview:hover {
	opacity: .95;
	cursor: pointer;
}
