@import "_vars";
@import "_mixins";
@import "compass/css3/box-sizing";

$map-dimensions: 800px;
$section-padding: 20px;
$section-padding-mobile: 10px;
$header-landscape-footer-height: 55px;
$header-landscape-footer-height-mobile: 40px;

.entry-page {
	.header-landscape {
		img {
			width: 100%;
		}

		div {
			padding-left: 10px;
			position: relative;
			background-color:rgba(0, 0, 0, 0.5);
			margin-top: - $header-landscape-footer-height;
			height: $header-landscape-footer-height;
		}

		h1 {
			font-weight: bold;
			color: #fff;
			margin: 0px;
			padding-top: 3px;
			font-size: $header-landscape-footer-height - 10;
			line-height: $header-landscape-footer-height;	
		}

		@media all and (max-width: $mobile-width) {
			div {
				margin-top: - $header-landscape-footer-height-mobile;
				height: $header-landscape-footer-height-mobile;		
			}

			h1 {
				font-size: $header-landscape-footer-height-mobile - 5;
				line-height: $header-landscape-footer-height-mobile;
			}
		}
	}

	.content {
		padding: 0px $section-padding;
		color: #333;

		h2 {
			font-weight: bold;
			font-size: 36px;
			margin: 0px;
		}

		section {
			margin: $section-padding 0px;
		}
	}

	@media all and (max-width: $mobile-width) {
		.content {
			padding: 0px $section-padding-mobile;
		}
	}

	.overview-section {
		overflow: auto;

		.overview-description {
			font-weight: 200;
			font-size: 18px;
			line-height: 24px;
			color: #222;
			float: left;

			p {
				margin-top: 0px;
			}
		}

		@media all and (max-width: $mobile-width) {
			.overview-description {
				margin-right: 0px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	.photos-section {
		.photo-thumb-list {
			overflow-x: hidden;
			overflow-y: hidden;
			display: none;

			.photo-thumb {
				margin-bottom: 10px;

				img {
					max-width: 100%;
				}
			}
		}
	}

	.map-section {
		.map {
			@include center-percentage(100%);
		}

		@media all and (min-width: $map-dimensions + 2 * $section-padding) {
			.map {
				@include center-relative($map-dimensions);
			}
		}
	}
}