.photo-thumb {
	margin-top: 1px;
	float: left;
}

.photo-thumb img { max-width: 100%; }

.photo-thumb-list {
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 1px;
	display: none;
}

.landscape-image { width: 100%; }