@import "_globals";
@import "compass/css3/box-sizing";

$map-dimensions: 700px;
$section-padding: 20px;
$section-padding-mobile: 10px;

.entry-page {

	.header-landscape {

		img {
			width: 100%;
		}

		div {
			padding-left: 10px;
			position: relative;
			background-color:rgba(0, 0, 0, 0.5);
			margin-top: -55px;
			height: 55px;
		}

		h1 {
			font-weight: bold;
			color: #fff;
			margin: 0px;
			padding-top: 3px;
			font-size: 40px;
			line-height: 55px;	
		}

		@media all and (max-width: $mobile-width) {
			div {
				margin-top: -40px;
				height: 40px;		
			}

			h1 {
				font-size: 35px;
				line-height: 40px;
			}
		}
	}

	.content {
		padding: 0px $section-padding;
		color: #333;

		h2 {
			font-weight: bold;
			font-size: 36px;
			margin: 0px;
		}

		section {
			margin: $section-padding 0px;
			overflow: auto; 
		}
	}

	@media all and (max-width: $mobile-width) {
		.content {
			padding: 0px $section-padding-mobile;
		}
	}

	.overview-section {

		.overview-description {
			font-weight: 200;
			font-size: 18px;
			line-height: 24px;
			color: #222;
			float: left;

			p {
				margin-top: 0px;
			}
		}

		@media all and (max-width: $mobile-width) {
			.overview-description {
				margin-right: 0px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	.photos-section {

		.photo-thumb-list {
			overflow-x: hidden;
			overflow-y: hidden;
			display: none;

			.photo-thumb {
				margin-bottom: 10px;

				img {
					max-width: 100%;
				}
			}
		}
	}

	.map-section {

		.map {
			left: 50%;
			margin-left: 0px;
			width: 100%;
		}

		@media all and (min-width: $map-dimensions + 2 * $section-padding) {
			.map {
				position: absolute;
				margin-left: - $map-dimensions / 2;
				width: $map-dimensions;
				height: $map-dimensions;
			}
		}
	}
}






