.wrapper {
	padding-left: 10px;
	padding-right: 10px;
	color: #333;
}

.wrapper h2 {
	font-weight: bold;
	font-size: 36px;
	margin: 0px;
}

.section-separator {
	height: 0px;
	margin: 0px 10px 0px 10px;
	opacity: .5;
}

.header-landscape-div-footer {
	padding-left: 10px;
	position: relative;
	background-color:rgba(0, 0, 0, 0.5);
}

.header-landscape-title {
	font-weight: 600;
	color: #fff;
	margin: 0px;
	padding-top: 3px;
}

.overview-div {
	margin-bottom: 40px;
	width: 100%;
	height: 470px;
}

.overview-description {
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
	color: #222;
	margin-top: 0px;
	margin-right: 350px;
	float: left;
}

.photos-div {
	margin-top: 20px;
	margin-bottom: 50px;
}

.photo-landscape { width: 100%; }

.photo-thumb {
	margin-top: 10px;
	float: left;
}

.photo-thumb img { max-width: 100%; }

.photo-thumb-list {
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
}

.map-div {
	margin-top: 20px;
	margin-bottom: 50px;
}

.map {
	padding-top: 10px;
	padding-bottom: 10px;
	left: 50%;
	margin-left: 0px;
	width: 100%;
}

@media all and (min-width: 720px) {
	.map {
		position: absolute;
		margin-left: -350px;
		width: 700px;
		height: 700px;
		padding-bottom: 10px;
	}
}

@media all and (min-width: 600px) {
	/* TODO: is there a way to avoid having to manually set the width here? */
	.map-header-div-icon {
		width : 16px !important;
	}

	.header-landscape-title {
		font-size: 40px;
		line-height: 55px;
	}

	.header-landscape-div-footer {
		margin-top: -55px;
		height: 55px;
	}
}

@media all and (max-width: 600px) {
	.map-header-div-icon {
		width : 30px !important;
	}

	.header-landscape-title {
		font-size: 35px;
		line-height: 40px;
	}
	.header-landscape-div-footer {
		margin-top: -40px;
		height: 40px;
	}

	.overview-description {
		margin-right: 0px;
		width: 100%;
		font-size: 16px;
		line-height: 20px;
	}
}

