.entry-wrapper {
	padding: 10px;
}

.section-separator {
	height: 0px;
	margin: 30px;
	opacity: .5;
}

.overview-div {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px
	width: 100%;
}

.overview-left {
	float: left;
}

.overview-right {
	float: right;
}

.overview-header {
	margin-bottom: 25px;
}

.overview-title {
	font-family: "facitweb", sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #444;
	margin:0px;
}

.overview-location {
	font-family: "facitweb", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	color: #444;
	line-height: 40px;
	margin:0px;
}

.overview-description {
	font-family: "facitweb", sans-serif;

	font-weight: 200;
	font-size: 15px;
}

.photos-div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.photo-landscape { width: 100%; }

.photo-thumb {
	margin-top: 10px;
	float: left;
}

.photo-thumb img { max-width: 100%; }

.photo-thumb-list {
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
}

.map {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

/* TODO: is there a way to avoid having to manually set the width here? */
@media all and (min-width: 600px) {
	.map-header-box-icon {
		width : 16px !important;
	}
	
	.overview-description {
		width: 60%;
	}

	.overview-title {
		font-size: 50px;
		line-height: 60px;
	}
}

@media all and (max-width: 600px) {
	.map-header-box-icon {
		width : 30px !important;
	}

	.overview-description {
		width: 100%;
	}

	.overview-title {
		font-size: 40px;
		line-height: 50px;
	}
}

