@import "_globals";

$facts-padding: 25px;

.overview-facts {
	float: right;
	width: $facts-width;
	font-weight: 200;
	font-size: 16px;
	line-height: 24px;
	color: #222;
	margin: 0px 25px 20px 20px;
	display: inline;

	img {
		width: $facts-width - $facts-padding * 2;
	}

	> div {
		padding: $facts-padding;
	}

	table {
		padding-top: 20px;
		width: 100%;

		tr td:first-child {
			font-weight: bold;
		}

		tr td:nth-child(2) {
			font-weight: 200;
		}
	}
}


@media all and (max-width: $mobile-width) {
	.overview-facts {
		display: inline;
	}
}
