@import "_vars";
@import "_mixins";

$facts-padding: 25px;
$facts-mobile-width: 575px;

.overview-facts {
	float: right;
	width: $facts-width;
	margin: 0px 25px;

	img {
		width: $facts-width - $facts-padding * 2;
	}

	> div {
		padding: $facts-padding;
	}

	table {
		padding-top: 20px;
		font-weight: 200;
		font-size: 16px;
		line-height: 24px;
		color: #222;

		tr td:first-child {
			font-weight: bold;
		}

		tr td:nth-child(2) {
			font-weight: 200;
			padding-left: 15px;
		}
	}
}

@media all and (max-width: $facts-mobile-width) {

	.overview-facts {
		width: 100%;
		margin: 0px;

		img {
			width: 100px;
			float: left;
			margin-right: 10px;
		}

		> div {
			padding: 10px;
			width: $facts-width;
			@include center-relative($facts-width + 25px);
		}

		table {
			font-size: 14px;
			line-height: 16px;
			padding-top: 10px;

			tr:first-child {
				display:none;
			}

			tr td:nth-child(2) {
				padding-left: 5px;
			}
		}
	}
}
