@import "_globals";

$facts-padding: 25px;

.overview-facts {
	float: right;
	width: $facts-width;
	margin-left: -100%;
	margin-right: $facts-padding + 10;

	img {
		width: $facts-width - $facts-padding;
	}

	> div {
		padding: $facts-padding;
	}

	table {
		padding-top: 20px;
		width: 100%;

		tr td:first-child {
			font-weight: bold;
		}

		tr td:nth-child(2) {
			font-weight: 200;
		}
	}
}

@media all and (max-width: $mobile-width) {
	.overview-facts {
		float: none;
		margin: 0px auto;
	}
}