.overview-facts-div {
	padding: 25px !important;
}

.overview-facts-thumb {
	width: 275px;
}

.overview-facts {
	float: right;
	padding-top: 15px;
	padding-right: 30px;
	width: 300px;
	margin-left: -100%;
}

.overview-facts table {
	padding-top: 20px;
	width: 100%;
}

.overview-facts table tr td:first-child {
	font-weight: bold;
}

.overview-facts table tr td:nth-child(2) {
	font-weight: 200;
}

@media all and (max-width: 600px) {
	.overview-facts {
		float: none;
		margin: 0px auto;
	}
}