.header {
	width: 100%;
	display:block;
	background-color: #fff;
	height: 45px;
	z-index: 100;
	position: relative;
}

.header-right {
	float: right;
}

.header-separator {
	background: url(/images/header-separator.png?embed) repeat-y center;
	width: 2px;
	height: 45px;
	float: left;
}

.header-div {
	background-color: #fff;
	text-align: center;
	height: 45px;
	line-height: 45px;
	float: left;
	padding-right: 12px;
	padding-left: 12px;
	opacity: .65;
	cursor: pointer;
	min-width: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.no-touch .header-div:hover {
	opacity: .8;
}

.header-div-icon {
	margin-top: 9px;
	float:left;
	height: 27px;
	width: 27px;
}

.header-div-text {
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	color: #111;
	padding-left: 8px;
}

.sub-header {
	width: 100%;
	position: fixed;
	top: 42px;
	z-index: 99;
	display:block;
}

@media all and (min-width: 600px) {
	.header-div-text { 
		display: inline; 
	}
}

@media all and (max-width: 600px) {
	.header-div-text { 
		display: none;
	}
}


