@import "_vars";
@import "compass/css3/border-radius";

$header-background-color: #fff;
$icon-dimensions: 27px;

header {
	width: 100%;
	background-color: $header-background-color;
	height: $header-height;
	z-index: $header-z-index;
	position: relative;

	.header-separator {
		background: url(/images/header-separator.png?embed) repeat-y center;
		height: $header-height;
		width: 2px;
		float: left;
	}

	.header-div {
		float: left;
		background-color: $header-background-color;
		text-align: center;
		height: $header-height;
		line-height: $header-height;
		padding-right: 12px;
		padding-left: 12px;
		opacity: .65;
		cursor: pointer;

		svg {
			width: $icon-dimensions;
			height: $icon-dimensions;
			float:left;
			margin-top: 9px;
		}

		span {
			font-style: normal;
			font-weight: 200;
			font-size: 18px;
			padding-left: 8px;
		}
	}
}

.no-touch header .header-div:hover {
	opacity: .8;
}

.header-right {
	float: right;
}

.sub-header {
	width: 100%;
	position: fixed;
	top: $header-height - 3; /* Slide slightly underneath top header */
	z-index: $header-z-index - 1;

	.search-div {
		display: none;
		margin-top: -$header-height;
		background-color: #fff;
		padding: 13px 9px 9px 9px;
		@include border-radius(0px 0px 0px 5px);

		input {
			height: 22px;
			font-size: 16px;
		}
	}

}

@media all and (max-width: $mobile-width) {
	header span { 
		display: none;
	}
}