.index-wrapper {
	padding-left: 2px;
	padding-right: 2px;
}

.preview-box-list {
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
}

.preview-box {
	font-family: arial, sans-serif;
	margin-bottom: 2px;
	background-color: #fff;
	opacity: .99;
}

.no-touch .preview-box:hover {
	opacity: .94;
}

.no-touch .preview-box:hover { cursor: pointer; }

.preview-box-footer {
	padding: 10px;
	margin-top: -51px;
	height: 31px;
	position: relative;
	background-color:rgba(0, 0, 0, 0.6);
}

.preview-box-footer-left { float: left; }

.preview-box-footer-right { float: right; }

.preview-box-title {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 4px;
	line-height: 15px;
}

.preview-box-location {
	font-size: 12px;
	line-height: 12px;
	color: #ccc;
}

.preview-box-distance {
	font-size: 12px;
	line-height: 12px;
	color: #ccc;
}