.preview-box-list {
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
}

.preview-box {
	font-family: arial, sans-serif;
	margin-bottom: 1px;
}

.preview-box:hover { cursor: pointer; }

.preview-box-footer {
	padding: 10px;
	margin-top: -55px;
	height: 35px;
	position: relative;
	background-color:rgba(0, 0, 0, 0.6);
}

.preview-box-footer-left { float: left; }

.preview-box-footer-right { float: right; }

.preview-box-title {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 3px;
}

.preview-box-location {
	font-size: 12px;
	color: #ccc;
}

.preview-box-distance {
	font-size: 12px;
	color: #ccc;
}