body { 
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background-color: none;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #000;
	text-decoration: none;
 }

a img { border: none; }

img { display: block }

::selection {
	background: rgba(0, 0, 0, 0.0);
}

h1::selection, h2::selection, h3::selection, p::selection {
	background:#444;
	color:#fff;
}

.main-container {
	margin-top: 45px;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
}

.shadow-light {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.header {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 100;
	display:block;
	background: url(/images/header-pattern.png?embed) repeat-x center;
}

.header-right {
	float: right;
}

.header-separator {
	background: url(/images/header-separator.png?embed) repeat-y center;
	width: 2px;
	height: 45px;
	float: left;
}

.header-div {
	background: url(/images/header-pattern.png?embed) repeat-x center;
	text-align: center;
	height: 45px;
	line-height: 45px;
	float: left;
	padding-right: 12px;
	padding-left: 12px;
	opacity: .55;
	cursor: pointer;
	min-width: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.no-touch .header-div:hover {
	opacity: .8;
}

.header-div-icon {
	margin-top: 9px;
	float:left;
	height: 27px;
	width: 27px;
}

.header-div-text {
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	color: #222;
	padding-left: 8px;
}

.sub-header {
	width: 100%;
	position: fixed;
	top: 42px;
	z-index: 99;
	display:block;
}

.search-input-div {
	display: none;
	margin-top: -55px;
	background: url(/images/header-pattern.png?embed) repeat-x center;
	padding: 13px 9px 9px 9px;
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	-khtml-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}

.search-input {
	height: 22px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
	 	 -o-transition-duration: 0.3s;
			transition-duration: 0.3s;
}

.masonry {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
		-ms-transition-property: height, width;
		 -o-transition-property: height, width;
			transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	   -moz-transition-property: left, right, top;
		-ms-transition-property: left, right, top;
		 -o-transition-property: left, right, top;
			transition-property: left, right, top;
}

@media all and (min-width: 960px) {
	.main-container { width: 960px; }
}

@media all and (max-width: 960px) {
	.main-container { width: 100%; }
}


@media all and (min-width: 600px) {
	.header-div-text { 
		display: inline; 
	}
}

@media all and (max-width: 600px) {
	.header-div-text { 
		display: none;
	}
}


