@import "_vars";
@import "_mixins";
@import "compass/css3/box-shadow";

html { height: 100%; }

body { 
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background-image: url(/images/background.png);
	font-family: "facitweb", sans-serif;
	min-width: 300px;
	height: 100%;
}

input {
	font-family: 'facitweb', Helvetica, Arial, sans-serif;
}

body > div {
	height: 100%;
}

a {
	color: #39c;
	text-decoration: none;
 }

 .noscript-message {
 	font-size: 40px;
 	padding: 0px 20px;
 	color: #333;
 }

 a:hover {
 	color: #069;
 	text-decoration: underline;
 }

a img { border: none; }

img { display: block; }

::selection {
	background: rgba(0, 0, 0, 0.0);
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h1::selection, h2::selection, h3::selection, p::selection, td::selection, a::selection {
	background:#444;
	color:#fff;
}

.default-container {
	overflow-x: hidden;
	width: $container-width;
	@include center();
}

.shadow-light {
	@include box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
}

@media all and (max-width: $container-width) {
	.default-container { width: 100%; }
}