@import "_vars";
@import "_mixins";
@import "compass/css3/box-shadow";

body { 
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background-image: url(/images/background.png);
	font-family: "facitweb", sans-serif;
	min-width: 300px;
}

a {
	color: #39c;
	text-decoration: none;
 }

 a:hover {
 	color: #069;
 	text-decoration: underline;
 }

a img { border: none; }

img { display: block; }

::selection {
	background: rgba(0, 0, 0, 0.0);
}

h1::selection, h2::selection, h3::selection, p::selection {
	background:#444;
	color:#fff;
}

.main-container {
	overflow-x: hidden;
	width: $container-width;
	@include center();
}

.shadow-light {
	@include box-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
}

@media all and (max-width: $container-width) {
	.main-container { width: 100%; }
}