body { 
	margin: 0px; 
	background: url(/images/background-pattern.png?embed);
}

a {
	color: #000;
	text-decoration: none;
 }

a img { border: none; }

img { display: block }

.main-container {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
}

.div-shadow-light {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.header {
	background: url(/images/header-pattern.png?embed) repeat-x center;
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: #1a191a;
	padding-top: 8px;
}

.title {
	background: url(/images/title.png?embed);
	background-size: 100%;
	width: 56px;
	height: 23px;
	margin-right: auto;
	margin-left: auto;

}

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
	 	 -o-transition-duration: 0.3s;
			transition-duration: 0.3s;
}

.masonry {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
		-ms-transition-property: height, width;
		 -o-transition-property: height, width;
			transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	   -moz-transition-property: left, right, top;
		-ms-transition-property: left, right, top;
		 -o-transition-property: left, right, top;
			transition-property: left, right, top;
}

@media all and (min-width: 1024px) {
	.main-container { width: 1024px; }
}

@media all and (max-width: 1024px) {
	.main-container { width: 100%; }
}