body { 
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

a {
	color: #000;
	text-decoration: none;
 }

a img { border: none; }

img { display: block }

::selection {
	background: rgba(0, 0, 0, 0.0);
}

h1::selection, h2::selection, h3::selection, p::selection {
	background:#444;
	color:#fff;
}

.main-container {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
}

.shadow-light {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.header {
	width: 100%;
	position:fixed;
	top:0;
	z-index: 100;
	display:block;
	background: url(/images/header-pattern.png?embed) repeat-x center;
}

.header-separator {
	background: url(/images/header-separator.png?embed) repeat-y center;
	width: 2px;
	height: 50px;
	float: left;
}

.header-box {
	background: url(/images/header-pattern.png?embed) repeat-x center;
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	opacity: .55;
	cursor: pointer;
	min-width: 25px;

}

.no-touch .header-box:hover {
	opacity: .8;
}

.header-box-icon {
	margin-top: 11px;
	float:left;
	height: 30px;
	width: 30px;
}

.header-box-text {
	font-family: "facitweb", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	color: #222;
	padding-left: 8px;
}

.masonry,
.masonry .masonry-brick {
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
	 	 -o-transition-duration: 0.3s;
			transition-duration: 0.3s;
}

.masonry {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
		-ms-transition-property: height, width;
		 -o-transition-property: height, width;
			transition-property: height, width;
}

.masonry .masonry-brick {
	-webkit-transition-property: left, right, top;
	   -moz-transition-property: left, right, top;
		-ms-transition-property: left, right, top;
		 -o-transition-property: left, right, top;
			transition-property: left, right, top;
}

@media all and (min-width: 960px) {
	.main-container { width: 960px; }
}

@media all and (max-width: 960px) {
	.main-container { width: 100%; }
}


@media all and (min-width: 600px) {
	.header-box-text { 
		display: inline; 
	}
}

@media all and (max-width: 600px) {
	.header-box-text { 
		display: none;
	}
}


