<article class="about-page" data-meta-description="The best place to find beautiful hikes online. Hike.io is free, open source, and anyone can make an edit.">
	<div class="sub-page">
		<h2>Why hike.io?</h2>
		<h3>There are already tons of sites devoted to hikes...</h3>
	</div>
	<div class="sub-page">
		<h2>It's free.</h2>
		<h3>No paywalls or ads. Ever.</h3>
	</div>
	<div class="sub-page">
		<h2>It's open.</h2>
		<h3>The site's content is available under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons license</a>. The code is <a href="https://github.com/zaknelson/hike.io">open source</a>.</h3>
	</div>
	<div class="sub-page">
		<h2>With a focus on hikes.</h2>
		<h3>Detailed trail information, beautiful photos, full screen maps, and not much else.</h3>
	</div>
	<div class="sub-page">
		<h2>Anyone can edit.</h2>
		<h3>Add new hikes or modify existing ones, without having to sign in.</h3>
	</div>
</article>