<article class="about-page" data-meta-description="Information on hike.io, the organization." >
	<div class="sub-page description">
			<a class="attribution-link" href="http://www.flickr.com/photos/yeho/8247179275/">
				<%= render_svg("#{@img_dir}/creative-commons.svg") %>
			</a>
		<div>
			<h2>Why hike.io?</h2>
			<h3>(scroll down)</h3>
		</div>
	</div>
	<div class="sub-page hikes">
		<div>
			<h2>It's just hikes.</h2>
			<h3>Detailed trail information, beautiful photos, full screen maps, and not much else.</h3>
		</div>
	</div>
	<div class="sub-page edit">
		<div>
			<h2>It's editable.</h2>
			<h3>Anyone can add new hikes or modify existing ones, without having to sign in.</h3>
		</div>
	</div>
	<div class="sub-page free">
		<div>
			<h2>It's free.</h2>
			<h3>No paywalls or ads. Ever.</h3>
		</div>
	</div>
	<div class="sub-page open">
		<div>
			<h2>It's open.</h2>
			<h3>Hike.io's data is available under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons license</a>.<br> The code is <a href="https://github.com/zaknelson/hike.io">open source</a>.</h3>
		</div>
	</div>
</article>