<article id="add-page" class="add-page" data-ng-controller="AddController" data-meta-description="Add a new hike by specifying name, locality, distance, elevation and latitude / longitude.">
	<h2>Add a hike</h2>
	<form data-ng-submit="add()" action="javascript:void(0);">
		<div>
			<div>
				<label for="name">Name</label>
				<input id="name" type="text" required="true" autocomplete="off" data-ng-model="hike.name"></input>
			</div>
			<div>
				<label for="locality">Location</label>
				<input id="locality" type="text" required="true" autocomplete="off" data-ng-model="hike.locality" ></input>
			</div>
			<div>
				<label for="distance">Distance</label>
				<input id="distance" type="number" step="any" min="0" required="true" autocomplete="off" data-ng-model="hike.distance" data-model-filter="distance:miles:kilometers:5" ></input>
			</div>
			<div>
				<label for="elevation">Elevation</label>
				<input id="elevation" type="number" step="any" min="0" required="true" autocomplete="off" data-ng-model="hike.elevation_max" data-model-filter="distance:feet:meters:5" ></input>
			</div>
			<div>
				<label for="latitude">Lat/Lng</label>
				<input id="latitude" type="number" step="any" min="-90" max="90" required="true" autocomplete="off" data-ng-model="hike.location.latitude" ></input>
				<input id="longitude" type="number" step="any" min="-180" max="180" required="true" autocomplete="off" data-ng-model="hike.location.longitude"></input>
			</div>
			<div>
				<input type="submit" class="btn" value="Add Hike"></input>
			</div>
		</div>
	</form>
</article>