<article class="default-container add-page">
	<h1>Add a hike</h1>
	<form data-ng-submit="add()">
		<div>
			<div>
				<label for="name">Name</label>
				<input id="name" type="text" required="true" autocomplete="off" data-ng-model="hike.name" autofocus></input>
			</div>
			<div>
				<label for="locality">Location</label>
				<input id="locality" type="text" required="true" autocomplete="off" data-ng-model="hike.locality" ></input>
			</div>
			<div>
				<label for="distance">Distance</label>
				<input id="distance" type="number" step="any" min="0" required="true" autocomplete="off" data-ng-model="hike.distance" ></input>
			</div>
			<div>
				<label for="elevation">Elevation</label>
				<input id="elevation" type="number" step="any" min="0" required="true" autocomplete="off" data-ng-model="hike.elevation_max" ></input>
			</div>
			<div>
				<label for="latitude">Lat/Lng</label>
				<input id="latitude" type="number" step="any" min="-90" max="90" required="true" autocomplete="off" data-ng-model="hike.location.latitude" ></input>
				<input id="longitude" type="number" step="any" min="-180" max="180" required="true" autocomplete="off" data-ng-model="hike.location.longitude"></input>
			</div>
			<div>
				<input type="submit" class="btn" value="Add Hike"></input>
			</div>
		</div>
	</form>
</article>