<article class="default-container entry-page" data-ng-show="isLoaded">
	<div class="edit-banner" data-ng-show="isEditing()">
		<h3>You are editing this page</h3>
		<div>
			<button class="save-button btn" data-ng-class="{disabled: !isDirty || isSaving, loading: true}" autocomplete="off" data-ng-click="save()">{{isSaving &amp;&amp; 'Saving...' || 'Save'}}</button>
			<button class="done-button btn" data-ng-click="done()">Done</button>
		</div>
	</div>
	<div class="header-landscape">
		<img class="shadow-light" data-ui-if="isLoaded" data-ng-src="{{config.hikeImagesPath}}/{{hike.string_id}}/{{hike.photo_landscape.string_id}}.jpg"></img>
		<div>
			<h1 class="header-hike-name" contenteditable="{{isEditing()}}" data-ng-model="hike.name" data-type="text" data-single-line="true" data-change="isDirty = true"></h1>
		</div>
	</div>
	<div class="content">
	<section class="overview-section">
		<div>

			<div class="overview-facts">
				<div class="page-curl shadow-bottom">
					<img class="shadow-light" data-ui-if="isLoaded" data-ng-src="{{config.hikeImagesPath}}/{{hike.string_id}}/{{hike.photo_facts.string_id}}.jpg"></img>
					<table>
						<tr>
							<td>Hike</td>
							<td class="facts-hike-name" contenteditable="{{isEditing()}}" data-ng-model="hike.name" data-type="text" data-single-line="true" data-change="isDirty = true"></td>
						</tr>
						<tr>
							<td>Location</td>
							<td class="facts-hike-location" contenteditable="{{isEditing()}}" data-ng-model="hike.locality" data-type="text" data-single-line="true" data-change="isDirty = true"></td>
						</tr>
						<tr>
							<td>Distance</td>
							<td>
								<div class="facts-hike-distance">
									<span class="facts-hike-distance-value" contenteditable="{{isEditing()}}" data-ng-model="hike.distance" data-filter-view="distance:kilometers:miles:1" data-filter-model="distance:miles:kilometers:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></span>
									<span class="facts-hike-distance-units">mi.</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>Elevation</td>
							<td>
								<div class="facts-hike-elevation">
									<span class="facts-hike-elevation-value" contenteditable="{{isEditing()}}" data-ng-model="hike.elevation_gain" data-filter-view="distance:meters:feet:0" data-filter-model="distance:feet:meters:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></span>
									<span class="facts-hike-elevation-units">ft.</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>Lat / Lng</td>
							<td>
							<a data-ng-class="{disabled: isEditing()}" data-ng-href="{{getMapHref()}}">
								<span class="facts-hike-latitude-value" contenteditable="{{isEditing()}}" data-ng-model="hike.location.latitude" data-filter-view="number:{{isEditing() &amp;&amp; 5 || 1}}" data-filter-model="number:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></span><span>,</span>
								
								<span class="facts-hike-longitude-value" contenteditable="{{isEditing()}}" data-ng-model="hike.location.longitude" data-filter-view="number:{{isEditing() &amp;&amp; 5 || 1}}" data-filter-model="number:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></span>
							</a>
							<a data-ng-show="!isEditing()" href="http://maps.google.com/?q={{hike.location.latitude}},{{hike.location.longitude}}"><span><%= render_svg("#{@img_dir}/external-link.svg") %></span></a>
						</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="overview-description" data-ng-show="isEditing() || hike.description" data-give-focus="hike.description == null" contenteditable="{{isEditing()}}" data-ng-model="hike.description" data-change="isDirty = true"></div>
			<div class="overview-description" data-ng-show="hike &amp;&amp; !hike.description &amp;&amp; !isEditing()">
				<p>Uh oh, this hike doesn't yet have a description. You can fix that by <a href="/hikes/{{hike.string_id}}/edit">editing this page</a>.</p>
			</div>
		</div>
	</section>
	<section class="photos-section" data-ng-show="hike.photos.length > 0">
		<h2>Photos</h2>
		<div class="photo-thumb-list" data-fancybox=".fancybox-thumbs">
			<a data-ng-repeat="photo in hike.photos" class="fancybox-thumbs" href="#" rel="photos" data-fancybox-href="{{config.hikeImagesPath}}/{{hike.string_id}}/{{photo.string_id}}.jpg">
				<div class="photo-thumb">
					<img class="shadow-light" data-ui-if="isLoaded" data-ng-src="{{config.hikeImagesPath}}/{{hike.string_id}}/{{photo.string_id}}-thumb.jpg"></img>
				</div>
			</a>
		</div>
	</section>
</article>