<a class="attribution-link" data-static-html-hidden="true">
	<%= render_svg("#{@img_dir}/creative-commons.svg") %>
	<img data-ui-if="!Modernizr.svg" data-ng-src="/images/creative-commons.png" />
</a>

<article class="entry-page" data-ng-show="isLoaded" data-ng-class="{'entry-edit-page': isEditing}">
	<div class="edit-banner" data-ng-show="isEditing" data-ng-class="{'edit-banner-review': isBeingReviewed}">
		<h3 data-ng-show="error" data-ng-bind="error"></h3>
		<h3 data-ng-show="!error &amp;&amp; !isBeingReviewed">You are editing this page.</h3>
		<h3 data-ng-show="!error &amp;&amp; isBeingReviewed">Nice! Your change is being reviewed<span class="live-soon-msg"> and will be live soon</span>.</h3>
		<div>
			<button class="save-button btn" data-ng-class="{disabled: !isDirty || isSaving || numPhotosUploading != 0, loading: true}" autocomplete="off" data-ng-click="save()">{{isSaving &amp;&amp; 'Saving...' || (numPhotosUploading != 0 &amp;&amp; 'Uploading...' || 'Save')}}</button>
			<button class="done-button btn" data-ng-click="done()">Done</button>
		</div>
	</div>
	<div class="header-landscape" data-ng-class="{'header-landscape-with-image' : !local_photo_landscape}">
		<div>
			<div data-ui-if="isLoaded &amp;&amp; local_photo_landscape">
				<div data-ui-if="isEditing" data-ng-click="removePhoto('landscape')" class="delete-photo-icon">×</div>
				<div data-ui-if="isEditing">
					<img data-ui-if="local_photo_landscape.string_id" data-ng-click="openPhotoDetails(local_photo_landscape)" data-ng-src="{{config.hikeImagesPath}}/{{local_photo_landscape.string_id}}-{{isMobile &amp;&amp; 'medium' || 'large'}}.jpg" alt="{{local_photo_landscape.alt}}" />
				</div>
				<div data-ui-if="!isEditing" data-fancybox=".landscape-img-link">
					<a class="landscape-img-link" href="javascript:;" data-attribution-link="{{local_photo_landscape.attribution_link}}" data-fancybox-href="{{config.hikeImagesPath}}/{{local_photo_landscape.string_id}}-{{isMobile &amp;&amp; 'medium' || 'large'}}.jpg"><img data-ui-if="local_photo_landscape.string_id" data-ng-click="openPhotoDetails(local_photo_landscape)" data-ng-src="{{config.hikeImagesPath}}/{{local_photo_landscape.string_id}}-{{isMobile &amp;&amp; 'medium' || 'large'}}.jpg" alt="{{local_photo_landscape.alt}}" />
					</a>
				</div>
				<div data-ui-if="!local_photo_landscape.string_id" data-ng-click="openPhotoDetails(local_photo_landscape)" data-ng-class="{'img-div':true, 'flipped':local_photo_landscape.rotation == 90 || local_photo_landscape.rotation == 270 }" data-ng-style="{'background-image' : 'url(' + local_photo_landscape.src + ')', 'transform' : 'rotate(' + local_photo_landscape.rotation + 'deg)'}"></div>
				<div class="flipped-placeholder" data-ui-if="local_photo_landscape.rotation == 90 || local_photo_landscape.rotation == 270"></div>
			</div>
			<div data-file-uploader="uploadPhotos(files, 'landscape')" data-enabled="isEditing">
				<img class="placeholder-img" data-ui-if="isLoaded &amp;&amp; !local_photo_landscape &amp;&amp; isEditing" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABAQAAAAAzmykZAAAAAnRSTlMAAQGU/a4AAAAKSURBVAjXY3gAAADiAOG/+FxCAAAAAElFTkSuQmCC" />
			</div>
		</div>
		<div>
			<h1 data-ng-class="{'header-hike-name':true, 'header-hike-name-with-image':local_photo_landscape}" contenteditable="{{isEditing}}" data-ng-model="hike.name" data-type="text" data-single-line="true" data-change="isDirty = true"></h1>
		</div>
	</div>
	<div class="content">
		<section class="overview-section">
			<div>
				<div class="overview-facts" itemscope itemtype="http://schema.org/Place/Hike">
					<div class="page-curl shadow-bottom" data-ng-class="{'permit':hike.permit || isEditing}">
						<div class="image-container" data-ui-if="isLoaded &amp;&amp; local_photo_facts">
							<div data-ui-if="isEditing" data-ng-click="removePhoto('facts')" class="delete-photo-icon">×</div>
							<div data-ui-if="isEditing">
								<img data-ui-if="local_photo_facts.string_id" data-ng-click="openPhotoDetails(local_photo_facts)" data-ng-src="{{config.hikeImagesPath}}/{{local_photo_facts.string_id}}-thumb-{{isMobile &amp;&amp; 'tiny' || 'small'}}.jpg" alt="{{local_photo_facts.alt}}" />
							</div>
							<div data-ui-if="!isEditing" data-fancybox=".facts-img-link">
								<a class="facts-img-link" href="javascript:;" data-attribution-link="{{local_photo_facts.attribution_link}}" data-fancybox-href="{{config.hikeImagesPath}}/{{local_photo_facts.string_id}}-{{isMobile &amp;&amp; 'medium' || 'large'}}.jpg"><img itemprop="image" data-ui-if="local_photo_facts.string_id" data-ng-src="{{config.hikeImagesPath}}/{{local_photo_facts.string_id}}-thumb-{{isMobile &amp;&amp; 'tiny' || 'small'}}.jpg" alt="{{local_photo_facts.alt}}" /></a>
							</div>
							<div data-ui-if="!local_photo_facts.string_id" class="img-div" data-ng-click="openPhotoDetails(local_photo_facts)" data-ng-style="{'background-image' : 'url(' + local_photo_facts.src + ')', 'transform' : 'rotate(' + local_photo_facts.rotation + 'deg)' }"></div>
						</div>
						<div data-file-uploader="uploadPhotos(files, 'facts')" data-enabled="isEditing">
							<img class="placeholder-img" data-ui-if="isLoaded &amp;&amp;!local_photo_facts &amp;&amp; isEditing" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
						</div>
						<table>
							<tr data-redirect-focus=".hike-name">
								<td>Hike</td>
								<td>
									<div class="hike-name" itemprop="name" contenteditable="{{isEditing}}" data-ng-model="hike.name" data-type="text" data-single-line="true" data-change="isDirty = true"></div>
								</td>
							</tr>
							<tr data-ng-show="hike.locality != null || isEditing" data-redirect-focus=".hike-locality">
								<td>Location</td>
								<td>
									<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<div class="hike-locality" itemprop="addressRegion" contenteditable="{{isEditing}}" data-ng-model="hike.locality" data-type="text" data-single-line="true" data-change="isDirty = true"></div>
									</div>
								</td>
							</tr>
							<tr data-ng-show="hike.distance != null || isEditing" data-redirect-focus=".hike-distance">
								<td>Distance</td>
								<td>
									<div itemprop="distance" itemtype="http://schema.org/Distance">
										<div class="hike-distance" contenteditable="{{isEditing}}" data-ng-model="hike.distance" data-filter-view="distance:kilometers:miles:1" data-filter-model="distance:miles:kilometers:5" data-type="numeric" data-positive="true" data-change="isDirty = true" data-single-line="true"></div>
										<span class="unit-label">mi.</span>
									</div>
								</td>
							</tr>
							<tr data-ng-show="hike.elevation_gain != null || isEditing" data-redirect-focus=".hike-elevation-gain">
								<td>Elev. Gain</td>
								<td>
									<div itemprop="elevationGain" itemtype="http://schema.org/Distance">
										<div class="hike-elevation-gain" contenteditable="{{isEditing}}" data-ng-model="hike.elevation_gain" data-filter-view="distance:meters:feet:0" data-filter-model="distance:feet:meters:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></div>
										<span class="unit-label">ft.</span>
									</div>
								</td>
							</tr>
							<tr data-ng-show="hike.elevation_max != null || isEditing" data-redirect-focus=".hike-elevation-max">
								<td>Elev. Max</td>
								<td>
									<div itemprop="elevationMax" itemtype="http://schema.org/Distance">
										<div class="hike-elevation-max" contenteditable="{{isEditing}}" data-ng-model="hike.elevation_max" data-filter-view="distance:meters:feet:0" data-filter-model="distance:feet:meters:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></div>
										<span class="unit-label">ft.</span>
									</div>
								</td>
							</tr>
							<tr data-ng-show="isEditing || (hike.location != null &amp;&amp; hike.location.latitude != null &amp;&amp; hike.location.longitude != null)">
								<td data-redirect-focus=".hike-latitude">Lat. / Lng.</td>
								<td>
									<div class="hike-latitude-and-longitude" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
										<a data-ng-class="{disabled: isEditing}" data-ng-href="{{getMapHref()}}" rel="nofollow" itemprop="map">
											<div style="float:left" data-ng-class="{'hike-latitude-and-label': isEditing}">
												<div class="hike-latitude" itemprop="latitude" contenteditable="{{isEditing}}" data-ng-model="hike.location.latitude" data-filter-view="number:{{isEditing &amp;&amp; 5 || isMobile &amp;&amp; 1 || 2}}" data-filter-model="number:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></div><span style="float:left" data-redirect-focus=".hike-latitude">°,&nbsp;</span></div>
											<div class="hike-longitude-and-label">
												<div class="hike-longitude" itemprop="longitude" contenteditable="{{isEditing}}" data-ng-model="hike.location.longitude" data-filter-view="number:{{isEditing &amp;&amp; 5 || isMobile &amp;&amp; 1 || 2}}" data-filter-model="number:5" data-type="numeric" data-change="isDirty = true" data-single-line="true"></div><span style="float:left" data-redirect-focus=".hike-longitude">°</span></div>
										</a>
										<a data-ng-show="!isEditing" href="http://maps.google.com/?q={{hike.location.latitude}},{{hike.location.longitude}}"><span><%= render_svg("#{@img_dir}/external-link.svg") %><img class="external-link" data-ui-if="!Modernizr.svg" data-ng-src="/images/external-link.png" /></span></a>
									</div>
								</td>
							</tr>
							<tr data-ng-show="isEditing || hike.permit">
								<td>Permits</td>
								<td>
									<div itemscope itemtype="http://schema.org/Permit">
										<div class="hike-permit" itemprop="name" contenteditable="{{isEditing}}" data-ng-model="hike.permit" data-single-line="true" data-change="isDirty = true"></div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="overview-description" data-ng-show="isEditing || hike.description" data-give-focus="hike.description == null || hike.description == ''" contenteditable="{{isEditing}}" data-ng-model="hike.description" data-change="isDirty = true"></div>
				<div class="overview-description" data-ng-show="hike &amp;&amp; !hike.description &amp;&amp; !isEditing">
					<p>Uh oh, this hike doesn't yet have a description, but you can fix that by <a href="/hikes/{{hike.string_id}}/edit">editing this page</a>.</p>
				</div>
			</div>
		</section>
		<section class="photos-section" data-ng-show="hike.photos_generic.length > 0 || isEditing">
			<h2>Photos</h2>
			<div class="photo-thumb-list" data-fancybox=".fancybox-thumb-link">
				<div data-ui-if="!isEditing">
					<a data-ng-repeat="photo in hike.photos_generic" data-attribution-link="{{photo.attribution_link}}" class="fancybox-thumb-link" href="javascript:;" rel="photos" data-fancybox-href="{{config.hikeImagesPath}}/{{photo.string_id}}-{{isMobile &amp;&amp; 'medium' || 'large'}}.jpg">
						<div class="photo-thumb" style="position:relative">
							<img  data-ui-if="isLoaded" data-ng-src="{{config.hikeImagesPath}}/{{photo.string_id}}-thumb-{{isMobile &amp;&amp; 'tiny' || 'small'}}.jpg" alt="{{photo.alt}}" />
						</div>
					</a>
				</div>
				<div data-ui-if="isEditing">
					<div data-ng-repeat="photo in local_photos_generic">
						<div class="photo-thumb" style="position:relative">
							<div data-ng-click="removePhoto('generic', $index)" class="delete-photo-icon">×</div>
							<div data-ui-if="!photo.string_id" data-ng-click="openPhotoDetails(photo)" class="img-div" data-ng-style="{'background-image' : 'url(' + photo.src + ')', 'transform' : 'rotate(' + photo.rotation + 'deg)'}"></div>
							<img data-ui-if="photo.string_id" data-ng-click="openPhotoDetails(photo)" data-ng-src="{{config.hikeImagesPath}}/{{photo.string_id}}-thumb-{{isMobile &amp;&amp; 'tiny' || 'small'}}.jpg" alt="{{photo.alt}}" />
						</div>
					</div>
				</div>
				<div data-file-uploader="uploadPhotos(files, 'generic')" data-enabled="isEditing" data-multiple="false"><div class="photo-thumb" data-ui-if="isLoaded &amp;&amp; isEditing">
					<img class="placeholder-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
				</div></div>
			</div>
		</section>
		<section class="metadata-section" data-ui-if="isEditing">
			<h2>Preview photo</h2>
				<p data-ng-show="!local_photo_preview &amp;&amp; isEditing" class="discover-explanation">Add a photo for the Discover tab</p>
				<div class="image-container" data-ui-if="isLoaded &amp;&amp; local_photo_preview">
						<div data-ui-if="isEditing" data-ng-click="removePhoto('preview')" class="delete-photo-icon">×</div>
						<img data-ui-if="local_photo_preview.string_id" data-ng-src="{{config.hikeImagesPath}}/{{local_photo_preview.string_id}}-thumb-{{isMobile &amp;&amp; 'tiny' || 'small'}}.jpg" alt="{{local_photo_preview.alt}}" data-ng-click="openPhotoDetails(local_photo_preview)" />
						<div data-ui-if="!local_photo_preview.string_id" class="img-div" data-ng-click="openPhotoDetails(local_photo_preview)" data-ng-style="{'background-image' : 'url(' + local_photo_preview.src + ')', 'transform' : 'rotate(' + local_photo_preview.rotation + 'deg)' }"></div>
				</div>
				<div data-file-uploader="uploadPhotos(files, 'preview')" data-enabled="isEditing">
					<img class="placeholder-img" data-ui-if="isLoaded &amp;&amp; !local_photo_preview &amp;&amp; isEditing" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
				</div>
		</section>
	</div>
</article>

<%= yield_content :photo_details_modal %>