<article class="index-page" data-meta-description="The best place to find beautiful hikes on the Internet.">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
		<div class="links">
			<a href="/hikes"><h4>ALL HIKES</h4></a>
			<a data-mailto><h4>CONTACT</h4></a>
			<a href="https://github.com/zaknelson/hike.io"><h4>CODE</h4></a>
		</div>
	</div>
	<div class="content">
		<input type="text" class="search-box shadow-light" placeholder="Hike name..." spellcheck="false" data-give-focus="!Modernizr.touch" data-ng-model="searchQuery" data-ui-keypress="{enter: 'search()'}" >
	</div>
</article>