<article class="index-page" data-meta-description="The best place to find beautiful hikes on the Internet.">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
	</div>
	<div class="search-box shadow-light">
		<input class="hide-ie-input-close" type="text" placeholder="Hike name..." spellcheck="false" data-give-focus="!Modernizr.touch" data-ng-model="searchQuery" data-ui-keypress="{enter: 'search()'}" >
		<div class="search-input-button" data-ng-click="search()">
			<%= render_svg("#{@img_dir}/search.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/search.png" style="display:inline"></img>
		</div>
	</div>
</article>