<article class="index-page" data-meta-description="The best place to find hikes on the Internet. Full of beautiful high resolution pictures, accurate information, and none of the clutter.">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
	</div>
	<div class="content">
		<input type="text" class="search-box shadow-light" placeholder="Hike name..." spellcheck="false" data-give-focus="!Modernizr.touch" data-ng-model="searchQuery" data-ui-keypress="{enter: 'search()'}" >
	</div>
</article>