<article class="index-page">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
	</div>
	<div class="content">
		<input type="text" class="search-box shadow-light" placeholder="Hike or location..." spellcheck="false" autofocus data-ng-model="searchQuery" data-ui-keypress="{enter: 'search()'}" >
	</div>
</article>