<article class="map-page" data-meta-description="Find hikes nearby and around the world using the full screen map." data-ng-class="{'showBanner': showBanner }">
	<div class="tooltip">
		<h3 class="name"></h3>
	</div>
	<a class="touch-tooltip">
		<div>
			<h3 class="name"></h3>
		</div>
	</a>
	<div class="banner">
		<h3>Unable to find hikes near {{formattedLocationString}}. Try zooming out.</h3>
	</div>
	<div class="map-container" data-ui-map="map" data-ui-options="mapOptions" data-ui-event="{'map-idle': 'updateMarkers($event)', 'map-zoom_changed': 'updateMarkers($event)', 'map-center_changed': 'updateMarkers($event)'}"></div>
	<div ng-repeat="marker in markers" ui-map-marker="markers[$index]" ui-event="{'map-click': 'markerClicked(marker)', 'map-mouseover': 'markerActivate(marker)', 'map-mouseout': 'markerDeactivate(marker)'}"></div>
</article>