<article class="photo-stream-page">
	<div class="preview-list">
		<% if @featured_hike %>
			<%= partial("partials/preview", :locals => { :hike => @featured_hike, :is_featured => true })%>
		<% end %>
		<% for hike in @hikes %>
			<%= partial("partials/preview", :locals => { :hike => hike })%>
		<% end %>
	</div>
	<div class="pagination-links">
		<%= will_paginate @hikes %>
	</div>
</article>
