<article class="search-page">
	<div data-ui-if="results &amp;&amp; results.length > 0">
		<h1>Did you mean?</h1>
		<ul>
			<li style="list-style-type: disc;" data-ng-repeat="result in results">
				<a href="/hikes/{{result.hike.string_id}}">{{result.hike.name}}</a>
			</li>
		</ul>
	</div>
	<div data-ui-if="results &amp;&amp; results.length == 0">
		<h1>Unable to find hike: {{query}}</h1>
	</div>
</article>