<article class="search-page">
	<% if @search_results.length == 0 %>
	<h1>Unable to find hike "<%= @query %>"</h1>
	<% elsif @search_results.length > 0 %>
	<h1>Did you mean?</h1>
	<ul>
		<% @search_results.each do |search_result| %>
			<li style="list-style-type: disc;">
				<a href="/<%= search_result.hike.string_id %>"><%= search_result.hike.name %></a>
			</li>
		<% end %>
	</ul>
	<% end %>
</article>