<article class="search-page" data-meta-description="Results for search query.">
	<div data-ui-if="results &amp;&amp; results.length > 0">
		<h1>Did you mean?</h1>
		<ul>
			<li style="list-style-type: disc;" data-ng-repeat="result in results">
				<a href="/hikes/{{result.hike.string_id}}">{{result.hike.name}}</a>
			</li>
		</ul>
	</div>
	<div data-ui-if="results &amp;&amp; results.length == 0">
		<h1 class="unable-to-find">Unable to find hike: {{query}}</h1>
		<p>If you want, you can <span data-fancybox=".add-link"><a class="add-link" href="javascript:;" data-fancybox-href="#add-page">add it</a></span>.</p>
	</div>
</article>