<% content_for :head do %><% end %>

<div>
	<div>
		<%= img "#{@entry_img_dir}/#{@entry.id}/#{@entry.id}-landscape.jpg", {:class => "landscape-image"} %>
	</div>
	<div class="photo-thumb-list">
		<% for picture in @entry.pictures %>
				<div class="photo-thumb">
					<%= img "#{@entry_img_dir}/#{@entry.id}/#{picture.id}-thumb.jpg" %>
				</div>
		<% end %>
	</div>
</div>