<article class="index-page">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
	</div>
	<% if settings.development? %>
	<div class="content">
		<div>
			<div>
				<input type="text" class="search-box shadow-light" placeholder="Hike or location..." spellcheck="false">
			</div>
		</div>
	</div>
	<% end %>
</article>