<% content_for :header do %>
<% end %>

<article class="index-page">
	<div class="banner">
		<h1>hike.io</h1>
		<h2>Find beautiful hikes</h2>
	</div>
	<div class="non-banner">
		<div>
			<div>
				<input type="text" class="shadow-light" placeholder="Hike or location..." spellcheck="false">
			</div>
		</div>
	</div>
</article>