<% content_for :head do %><% end %>

<div>
	<div id="preview-list">
		<% for entry in @popular_entry_list %>
			<a href="/<%= entry.id %>">
				<div class="preview">
					<%= img "#{@entry_img_dir}/#{entry.id}/#{entry.id}-landscape.jpg", {:class => "landscape-image"} %>
				</div>
			</a>
		<% end %>
	</div>
</div>