<article class="photo-stream-page">
	<div class="preview-list">
		<% if @featured_entry %>
			<%= partial("partials/preview", :locals => { :entry => @featured_entry, :is_featured => true })%>
		<% end %>
		<% for entry in @entries %>
			<%= partial("partials/preview", :locals => { :entry => entry })%>
		<% end %>
	</div>
	<div class="pagination-links">
		<%= will_paginate @entries %>
	</div>
</article>
