<article class="search-page">
	<% if @entries.length == 0 %>
	<h1>Unable to find hike "<%= @query %>"</h1>
	<% elsif @entries.length > 0 %>
	<h1>Did you mean?</h1>
	<ul>
		<% @entries.each do |entry| %>
			<li style="list-style-type: disc;">
				<a href="/<%= entry.string_id %>"><%= entry.name %></a>
			</li>
		<% end %>
	</ul>
	<% end %>
</article>